<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twotyp.es/<%=@post.id%>" data-text="There are two types of people: those who <%=@post.typea%>, and those who <%=@post.typeb%>." data-count="none" data-via="twotyp_es">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
&nbsp;
<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://twotyp.es/<%=@post.id%>"></div>
<script type="text/javascript">gapi.plusone.go();</script>
