/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require_tree ../../../vendor/assets/stylesheets/.
*/

body {
	background-image: url('/assets/background.jpg');		
	background-repeat: repeat;
	background-color: #f6f2ef;
	background-position: top center;
	color: #333;
	font: 13px/17px Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul,ol {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

label {
	display: none;
}

fieldset {
	display: inline-block;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
form ol li {
	display: inline-block;
}

input[type='text'] {
	background-color: transparent;
	border: none;
	border-bottom: #999 1px dotted;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
	width: 155px;
}

input[type='text']:focus {
	outline:none
}

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-size: 5em;
/*	letter-spacing: 4px;*/
}

h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 3.2em;
}

#wrapper {
	margin: 0 auto;	
	padding-top: 30px;
}
#container {
}

#notices {
	display: none;
	position: relative;
	height: 15px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background: green;
	color: #FFF;
	padding: 10px 30px;
	margin-top: -30px;
	margin-bottom: -7px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	opacity: 0.9;
	z-index: 100;
}

#types-form {
	display: none;
}

#links {
	padding-top: 200px;
}
.loud {
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

.red {
	color: #870000;
}

.green {
	color: #006C00;
}

fieldset.buttons {
	display: inline-block;
	
	ol li.button {
		margin: 0;
	}
}

.btn {

/* text */
	text-decoration: 		none;
	font: 					14px/1em 'Droid Sans', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	
	
/* layout */
	padding: 				.4em .5em .3em .5em;
	margin: 				.5em;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(0, 0%, 40%) !important;
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}

